.div_navbar {
    margin-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.div_navbar h1 {
    color: #1f2526;
}

.spaced_elements {
    margin-left: 10px;
    display: flex;
}

.about {
    margin-left: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.style_link:hover {
    color: #4F946B;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: #1f2526;
    text-align: center;
    text-decoration: none;
}

ul.topnav li.right {
    float: right;
}

#myLinks {
    background-color: #FFF;
    position: absolute;
    float: right;
    right: 0;
    width: 250px;
    display: none;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

#myLinks p {
    margin-left: 45px;
    color: #1f2526;
    font-size: large;
}

#myLinks p:hover {
    color: #4F946B;
}

#myLinks i {
    position: absolute;
    padding: 14px;
    color: #1f2526;
}